.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70%;
  padding: 1rem;
  color: white;
  background-color: #3a3a3a;
}

.fill-red {
  background-color: red;
}

.fill-white {
  background-color: white;
}

.fill-green {
  background-color: green;
}

.fill-yellow {
 background-color: yellow;
}
