#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  color: white;
  background-color: #3a3a3a;
  min-height: 100vh;
}

.fill-red {
  background-color: red;
  color: red !important;
}

.fill-white {
  background-color: white;
  color: white !important;
}

.fill-green {
  background-color: green;
  color: green !important;
}

.fill-yellow {
 background-color: yellow;
 color: yellow !important;
}

.title {
  text-align: center;
}

.forfeit-button {
  width: 125px;
  height: 50px;
  background: #ff0000;
  border: 1px solid#ff0000;
  color: #ffffff;
  margin: 0 0 20px 0;
}