:root {
  --square-width: calc(100%/8);
}

.square {
  position: relative;
  display: flex;
  justify-content: center;
  width: var(--square-width);
  height: var(--square-width);
  padding-bottom: var(--square-width);
  flex-grow: 1;
}