:root {
  --square-width: calc(100%/8);
}

.square {
  position: relative;
  width: var(--square-width);
  height: var(--square-width);
  padding-bottom: var(--square-width);
  flex-grow: 1;
}

.square-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.5;
  background-color: purple;
}
